.headerMain {
    background-color: white;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    h1 {
        padding-left: 10px;
    }
}